@charset "UTF-8";
/* CSS Document */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/*********************
****** GÉNÉRAL *******
*********************/
* {
  margin: 0;
  padding: 0;
}

body {
  background : white;
  font-family: 'Poppins', sans-serif;
  height: 100vh;
  display : flex;
  justify-content : space-between;
}

button {
  cursor : pointer;
  border : 2px #0012ff solid;
  border-radius: 5px;
  font-size: 15px;
  padding: 10px;
  margin: 2px;
}

input, select {
  border : 2px black solid;
  border-radius: 5px;
  height: 50px;
  font-size: 15px;
  padding: 0 10px 0 10px;
  margin: 2px;
}

select {
  height: 54px;
  width : 325px;
  padding: 0 0 0 10px;
  margin: 2px;
}

.home { 
  width: 25%;
	height: 100vh;
	float: left;
  background: rgb(255, 255, 255);
  border-right: black 4px solid;
}

.right-part { 
  /* text-align : center; */
  margin-right: 30px;
  width: 70%;
	height: 100vh;
	/*float: left;*/
  background: rgb(255, 255, 255);
}

#home-text a{
  font-size: 40px;
  color: #767676;
  display: grid;
  text-decoration: none;
  margin-left: 50px;
  margin-bottom: 10px;
}

#logo-unimac {
  margin-left: 50px;
  margin-top: 50px;
  margin-bottom: 90px;
}


/*********************
****** ACCUEIL *******
*********************/

#title {
  font-size: 35px;
  justify-content: center;
  margin-bottom: 50px;
}

#accueil-section {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content :center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cadre-recherche a{
  font-size: 20px;
  display: grid;
  width: 400px;
  border: solid;
  border-width: 4px;
  border-color: black;
  padding: 25px;
  margin: 20px 20px 20px 20px;
  color: black;
  text-decoration: none;
  justify-content: center;
}


/*********************
****** STUDENT *******
*********************/

#students-section, #companies-section {
  overflow-y: auto;
  margin-right: 0;
}

#display_students {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  margin-right: 50px;
}

.carte {
  border : 2px black solid;
  border-radius: 30px;
  width : 200px;
  height: 250px;
  text-align : center;
  cursor: pointer;
  line-height: 1.5;
  padding-top: 30px;
  margin: 10px;
}

.text1 {
  margin-top: 30px;
}

.text3 {
  color:rgb(138, 138, 138);
}

#form-add-student, #form-company {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 40px;
  margin-bottom: 50px; 
}

#form-tri select{
  width : 300px;
  padding: 0 0 0 10px;
}

#form-tri input{
  padding: 0 10px 0 10px;
}

#add-student-button a{
  border: 2px black solid;
  border-radius: 5px;
  color: black;
  padding: 0 14px 0 14px;
  text-align: center;
  font-size: 40px;
  text-decoration: none;
  margin-right: 50px;
  cursor: pointer;
}


/*********************
****** PROFILE *******
*********************/
.informations{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
}

.info{
  margin-bottom: 30px;
}

#firstname, #lastname{
  font-size: xx-large;
  text-transform: uppercase;
}

h4{
  text-transform: uppercase;
  color: #0012ff;
}

#portfolio{
  color: black;
  text-decoration: none;
}

#display_student{
  /*border : 2px black solid;*/
  /*width : 500px;*/
  /*height: 660px;*/
  display: flex;
  justify-content: space-between;
  padding: 15px;
}

#info2{
  flex-basis: 60%;
}


#display_student button{
  border: 2px black solid;
  border-radius: 5px;
  color: black;
  text-align: center;
  font-size: 13px;
}

.action img, #send_update_avatar{
  border: 2px black solid;
  border-radius: 5px;
  color: black;
  cursor: pointer;
}

#add-contract{
  height: 40px;
  padding: 0 14px 0 14px;
}


#social-media img{
  margin-right: 6px;
  margin-top: 2px;
  border-radius: 5px;
}

#delete-contract {
  padding: 1px 6px 1px 6px;
  margin-left: 5px;
}

.company{
  list-style-type: none;
}

/*********************
*** CREATE STUDENT ***
*********************/

.title {
  font-size: 25px;
  margin-top: 30px;
  margin-bottom: 40px;
}

/* Sert à aligner l'avatar et les flèches
.avatar-box {
  top : -55px;
} */

.student {
  display: flex;
  flex-direction: column;
}

.student-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#create-student input {
  width: 300px;
  height: 40px;
}

#create-student select {
  width : 325px;
  height: 45px;
}

#create-student textarea {
  border : 2px black solid;
  border-radius: 5px;
  width : 300px;
  height: 80px;
  font-size: 15px;
  padding: 10px;
  margin: 2px;
}

#create_button {
  width : 100px;
  height: 50px;
}

#update_student {
  width: 200px;
}

/********** Slide des choix de l'avatar **********/

.hair, .eyes, .eyebrows, .mouth {
  display: none;
}

img {
  vertical-align: middle;
}

.create_avatar {
  margin-bottom: 30px;
}

.create_avatar p, label {
  padding : 13px;
  text-align : center;
}

/* Slideshow container */
.slideshow-container {
  max-width: 250px;
  display : flex;
  align-items: center;
  justify-content: space-between;
  margin: auto;
}

.avatar-box {
  max-width: 250px;
  position: relative;
  margin: auto;
  margin-left: 50px;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  padding: 10px;
  color: blue;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.avatar-box img {
  position: absolute;
  width: auto;
}

#select-glasses {
  margin-right: 10px;
}

#glasses {
  display: none;
}

.container {
  display : flex;
  width : 90%;
  justify-content : space-around;
  flex-wrap : wrap;
}

.rond{
  width : 120px;
  height : 120px;
  /*background : blue;*/
  border-radius: 50%;  
  margin: auto;
}

.avatar-affiche-students{
  width : 120px;
  height : 120px;
  background : #fff;
  border-radius: 50%;

  max-width: 250px;
  position: relative;
  margin: auto;

  text-align: left;
}

.avatar-affiche-students img, .avatar-affiche-student img {
  position: absolute;
  width: auto;
}

.avatar-affiche-student{
  width : 200px;
  height : 200px;
  background : #fff;
  border-radius: 50%;

  max-width: 250px;
  position: relative;

  margin: 50px 50px 50px 50px;

  cursor: pointer;
  display: block;
}

.cercle{
  width : 200px;
  height : 200px;
  background : blue;
  border-radius: 50%;  
  margin : 50px 50px 50px 50px;
}

.recharge{
  text-decoration: none;
  background-color: dodgerblue;
  padding : 10px;

  color :white;
  border-radius : 15px;
  margin-top : 100px;
}

#avatar-superposition{
  height: 350px;
}

#update-avatar{
  text-align : center;
  display : none;
}

#update-avatar .avatar-box{
  width: 200px;
  position: relative;
  margin-top: 100px;
  height: 200px;
  top: -50px;
  left: -100px;
  max-width: 250px;
}

#update-avatar .avatar-box #glasses{
  margin-left: 100px;
}

#slides-container{
  margin-left: 25px;
  max-height: 300px;
  width: 250px;
  position: relative;
  top: -250px;
}

/*********************
***** COMPANIES ******
*********************/

#display_companies {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  margin-right: 50px;
}

.carte-companies {
  border : 2px black solid;
  border-radius: 30px;
  width : 200px;
  height: 100px;
  text-align : center;
  line-height: 1.5;
  padding-top: 30px;
  margin: 10px;
}